[Unit]
Description=Tomcat Service
Requires=network.target
After=network.target

[Service]
Type=forking
User=tomcat
Environment="CATALINA_PID=/opt/tomcat/logs/tomcat.pid"
Environment="CATALINA_BASE=/opt/tomcat"
Environment="CATALINA_HOME=/opt/tomcat"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
